@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Vollkorn');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

.whole {
  margin-top: 2vh;
}

.youtubeSection {
  display: none;
}
/* Show Rooms Css Starts */

.showRoomsContainer {
  background: url('images/area.jpg');
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
  display: block;
  width: 749px;
  margin: auto;
  height: 417px;
  border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px 20px 0px 0px;
  -webkit-border-radius: 20px 20px 0px 0px;
  position: relative;
}

#roomsOpen {
  overflow: auto;
  overflow-x: hidden;
  height: 355px;
}

#roomOpen {
  display: none;
}
/* Show Rooms Css Ends */
/* Video Container Css Starts */

.videoContainer {
  background: #fcfcfc;
  display: block;
  width: 749px;
  margin: auto;
  border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px 20px 0px 0px;
  -webkit-border-radius: 20px 20px 0px 0px;
}

/* Video Container Css Ends */

/* Adding Room Module Starts */
.addingRoomContainer {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.animatezoom {
  -webkit-animation: animatezoom 0.4s;
  animation: animatezoom 0.4s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.addRoomBttn:hover {
  background-color: #ee5f3c;
}

.moduleContainer #name,
.moduleContainer #url {
  display: block;
  padding: .375rem .75rem;
}

.addingRoom button {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
  display: inline-block;
  padding: .375rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: .25rem;
  margin-top: 20px;
}

.addingRoom button:hover {
  background-color: #025aa5;
  border-color: #01549b;
}

.addingRoom {
  background: #f5f5f5;
  padding: 2rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.addingRoom input {
  width: 100%;
}

.addingRoom .videoUrl {
  margin-top: 2vh;
}

.addingRoom .roomName {
  margin-top: -1.5vh;
}

.addingRoomInnerContainer .header {
  background: #2196f3;
  color: #fff;
  padding: 26.8px;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 19.3px;
}

.addingRoomInnerContainer {
  width: 319px;
  margin: auto;
}
/* Adding Room Module Ends */

body {
  background: url('images/back.jpg');
}

.showRoomsContainer h1 {
  text-align: center;
  padding: 16px;
  border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px 20px 0px 0px;
  -webkit-border-radius: 20px 20px 0px 0px;
  color: white;
  font-weight: 800;
  font-family: 'Vollkorn', serif;
  letter-spacing: 0.4vh;
  font-size: 30px;
  background-color: #3f7eb6;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .15));
  box-shadow: inset 0 1px rgba(255, 255, 255, .3);
  border: 1px solid rgba(0, 0, 0, .5);
}

.showRoomsContainer li {
  font-size: 22px;
  border: 1px outset;
  border-left: 0px;
  border-right: 0px;
  padding: 15px;
  padding-left: 17px;
  padding-right: 0px;
  cursor: pointer;
  list-style-type: none;
  font-family: 'Vollkorn', serif;
  font-weight: 800;
  color: #444;
  margin-top: 1px;
}

.showRoomsContainer li:hover {
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.75);
  color: black;
}

/* Chat Section Starts */
.chatSection {
  margin: auto;
  display: block;
  background: url(images/area.jpg);
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
  width: 749px;
  height: 310px;
  border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px 20px 0px 0px;
  -webkit-border-radius: 20px 20px 0px 0px;
  margin-top: 20px;
}

.chatSection #messageForm {
  border: 3px inset;
  padding: 3px;
  border-bottom: 1px solid white;
  width: 750px;
  margin: auto;
  display: inline-block;
}

.chatSection form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

.chatSection form button {
  width: 9.5%;
  background: #595b5b;
  color: white;
  padding: 10px;
  box-shadow: inset 0 1px rgba(255, 255, 255, .3);
  border: 0px;
}

.chatSection form button:hover,
.chatSection form button:focus {
  background-color: #ee5f3c;
  box-shadow: inset 0 1px rgba(255, 255, 255, .3);
}

.chatSection #messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: scroll;
  height: 195px;
  display: inline-block;
}

.chatSection #messages li {
  padding: 5px 10px;
  font-size: 25px;
  border-bottom: 1px solid #e6ebed;
}

.chatSection #messages li:nth-child(odd) {
  background: #f9f9f9;
}

.chatSection ::-webkit-scrollbar {
  width: 12px;
}

.chatSection ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.chatSection ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.nameTagMessage {
  text-shadow: 0.5px 0.5px 0px #333;
}

.nameTagJoinedOrLeft {
  font-style: italic;
  color: #5c5d5e;
}
#setNameForm {
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

.chatSection #setNameBox {
  width: 425px;
  border: 0px;
  background: transparent;
  border-bottom: 1.5px solid white;
  text-align: center;
  font-size: 23.2px;
  outline: none;
  color: white;
  margin: auto;
}

.nameTagJoinedOrLeft .nameTag {
  text-shadow: 0.4px 0.4px 0px #333;
}

#chatContainer {
  display: inline-block;
  margin-top: 0px;
  top: 0px;
}

#setNameContainer * {
  display: block;
}

#setNameContainer .yourName {
  text-shadow: 1px 1px 0px #333;
  font-size: 23.2px;
  color: white;
  margin-bottom: 2.2vh;
}

#setNameContainer {
  height: 240px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 749px;
}

.addRoomBttn {
  background: #595b5b;
  color: white;
  cursor: pointer;
  font-size: 37px;
  font-weight: 800;
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 58px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.chatSection h1 {
  text-align: center;
  padding: 16px;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 20px 20px 0px 0px;
  -webkit-border-radius: 20px 20px 0px 0px;
  color: white;
  font-weight: 800;
  font-family: 'Vollkorn', serif;
  letter-spacing: 0.4vh;
  font-size: 30px;

  background-color: #3f7eb6;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .15));
  box-shadow: inset 0 1px rgba(255, 255, 255, .3);
  border: 1px solid rgba(0, 0, 0, .5);
}

/* Change Video Url Button Starts */
.switchUrlArrows {
  position: absolute;
  top: -1px;
  left: -1px;
  background: #595b5b;
  width: 66px;
  height: 74.3px;
  cursor: pointer;
  line-height: 60px;
  border-top-left-radius: 20px;
}

.switchUrlArrows:hover {
  background-color: #ee5f3c;
}

.rightArrow,
.leftArrow {
  height: 18px;
  font-size: 40px;
}
/* Change Video Url Button Ends */

/* Change Video Url Module Starts */
.changeVideoUrlContainer {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.moduleContainer #url {
  display: block;
  padding: .375rem .75rem;
}

.changeVideoUrl button {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
  display: inline-block;
  padding: .375rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: .25rem;
  margin-top: 20px;
}

.changeVideoUrl button:hover {
  background-color: #025aa5;
  border-color: #01549b;
}

.changeVideoUrl {
  background: #f5f5f5;
  padding: 2rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.changeVideoUrl input {
  width: 100%;
}

.changeVideoUrl .videoUrl {
  margin-top: -1vh;
}

.changeVideoUrlInnerContainer .header {
  background: #2196f3;
  color: #fff;
  padding: 26.8px;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 19.3px;
}

.changeVideoUrlInnerContainer {
  width: 319px;
  margin: auto;
}
/* Change Video Url Module Ends */

.exitRoomBttn {
  background: #595b5b;
  border: 0px;
  border-color: transparent;
  border-top-right-radius: 20px;
  color: white;
  cursor: pointer;
  font-family: cursive;
  font-size: 25px;
  height: 74.3px;
  line-height: 0px;
  outline: none;
  position: absolute;
  right: -1px;
  top: -1px;
  width: 66px;
}

.exitRoomBttn:hover {
  background-color: #ee5f3c;
}

.videoContainer h1 {
  -moz-border-radius: 20px 20px 0px 0px;
  -webkit-border-radius: 20px 20px 0px 0px;
  background-color: #3f7eb6;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .15));
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 20px 20px 0px 0px;
  box-shadow: inset 0 1px rgba(255, 255, 255, .3);
  color: white;
  font-family: 'Vollkorn', serif;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 0.4vh;
  padding: 16px;
  position: relative;
  text-align: center;
}

#player {
  height: 390px;
  width: 749px;
}

.userIcon {
  height: 20px;
  width: 20px;
  position: relative;
  top: 5px;
  left: 4px;
  margin-right: 8px;
}

.peopleCount {
  display: inline-block;
  margin-left: 15px;
  position: relative;
  top: -1px;
}

/* Contact Starts */
.contactBttn {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .15));
  position: fixed;
  float: right;
  right: 0;
  bottom: 0px;
  border-radius: 504px;
  cursor: pointer;
}

.contactBttn:hover {
  background-image: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
}

.contactBttn:active {
  background-image: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, 0));
}

.contactBttn img {
  width: 97px;
}

.contactContainer {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.contactContainer iframe {
  margin: auto;
  height: 616px;
  width: 319px;
}

.contactContainer .closeBttn {
  position: fixed;
  font-size: 49px;
  color: #efefef;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .15));
  right: 12px;
  top: 10px;
  border-radius: 548px;
  cursor: pointer;
  height: 85px;
  padding: 17px;
  width: 85px;
  text-align: center;
  line-height: 53px;
}

.contactContainer .closeBttn:hover {
  background-image: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
}

.contactContainer .closeBttn:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25));
}

/* Contact Ends */
